/* Theme */

main {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: auto;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


.icons-social a {
	color: #4B5658;
	-webkit-transition: .3s ease-in-out;
	transition: rotate(90deg);
}

.icons-social a svg path{
	fill: #4B5658;
}
.icons-social a:hover {
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
}